## Name: Mahboob Ali
## Sec: C
## Roll Num: 119
## Lab 2

## Task 1

In [1]:
num= int( input( " Enter a number : "))
if num>0:
    print( "Number is positive")
else:
    print( " Number is zero or negative")

ValueError: invalid literal for int() with base 10: ''

## Task 2

In [2]:
marks= int(input( "Enter your marks:"))
if marks>=90:
        print( " Grade: A ")
elif  marks>=80 and  marks<=89:
        print( " Grade: B ")
elif  marks>=70 and  marks<=79:
        print( " Grade: C ")
elif  marks>=60 and marks<=69:  
        print(" Grade: D ")
else:
    print( "Grade: F")

ValueError: invalid literal for int() with base 10: ''

## Task 3

In [3]:
num=1
sum=0
while num<=13:
    sum+=num
    num+=2

print(" sum of series is:", sum)

 sum of series is: 49

## Task 4

In [4]:
num= int(input( "Enter number to compute factorial"))
i=1
fact=1
while i<=num:
    fact*=i 
    i+=1
print( fact)

ValueError: invalid literal for int() with base 10: ''

## Task 5

In [ ]:
movies= [ " Actor in Law", "PK","Dhamal 3", "terminator","matrix"]
print(" My Favourite movies are: " ,movies)

 My Favourite movies are:  [' Actor in Law', 'PK', 'Dhamal 3', 'terminator', 'matrix']

## Task 6

In [ ]:
num= [1,2,3,4,5,6,7,8,9,10]
print("List", num)

List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Task 7

In [ ]:
list = [1, 3, 5, 7]
list.insert( 2, 4)
print ( " Updated list is : " ,list)

 Updated list is :  [1, 3, 4, 5, 7]

## Task 8

In [ ]:
languages=  ["Java", "C++", "JavaScript"]
languages.append("Python")
print (" after adding python now list is : " , languages)

 after adding python now list is :  ['Java', 'C++', 'JavaScript', 'Python']

## Task 9

In [ ]:
num= [10, 20, 30, 40, 50]
del  num[2]
print(" now list is : " ,num)

 now list is :  [10, 20, 40, 50]

## Task 10

In [ ]:
fruits= ["apple", "banana", "cherry"] 
del fruits[0]
print( "updated fruits list: " , fruits)

updated fruits list:  ['banana', 'cherry']

## Task 11

In [ ]:
numlist= [5, 2, 9, 1]
numlist.sort()
print(" List after sorting is : " ,numlist )

 List after sorting is :  [1, 2, 5, 9]

## Task 12

In [ ]:
fruits=["banana", "apple", "cherry"]
fruits.sort(reverse= True)
print(fruits)

['cherry', 'banana', 'apple']

## Task 13

In [ ]:
ABC=  ['a', 'b', 'c', 'd', 'e', 'f']
sublist= ABC[1:4]
print(" Sublist is : ", sublist)

 Sublist is :  ['b', 'c', 'd']

## Task 14

In [ ]:
numb= [10, 20, 30, 40, 50, 60, 70] 
print(" now list is :" ,numb[1::2])

 now list is : [20, 40, 60]